# File which not needed to be uploaded on GitHub
FFloorPixels.jpg
GFloorPixels.jpg
test.py
open.py
Floor-Copy.png
GFloor-Copy.png
MoveToGroundFloor.png
MoveToFirstFloor.png
FirstFloorLift.png
GroundFloorLift.png
MoveToFirstFloorCopy.png
MoveToGroundFloorCopy.png
FinalCodeFYP-IPS-TZ.py
FFloor.png
GFloor.png